<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Manager - Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body>
    {% include 'header.html' %}
    <main>
        <h2>Search Library</h2>
        <form action="{{ url_for('home') }}" method="get" class="filter-form">
            <div class="filter-group">
                <label for="album">Album:</label>
                <input type="text" id="album" name="album" value="{{ request.args.get('album', '') }}" placeholder="Search by album">
            </div>
            <div class="filter-group">
                <label for="artist">Artist:</label>
                <input type="text" id="artist" name="artist" value="{{ request.args.get('artist', '') }}" placeholder="Search by artist">
            </div>
            <div class="filter-group">
                <label for="genre">Genre:</label>
                <input type="text" id="genre" name="genre" value="{{ request.args.get('genre', '') }}" placeholder="Search by genre">
            </div>
            <div class="filter-group">
                <label for="track">Track:</label>
                <input type="text" id="track" name="track" value="{{ request.args.get('track', '') }}" placeholder="Search by track">
            </div>
            <button type="submit">Search</button>
        </form>

        <table>
            <thead>
                <tr>
                    <th>Album Art</th>
                    <th>Artist</th>
                    <th>Album</th>
                    <th>Genre</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for album in albums %}
                <tr>
                    <td><img src="{{ album[4] }}" alt="Album Art" class="album-art" style="max-width: 100px; display: block"></td>
                    <td>{{ album[3] }}</td>
                    <td><a href="{{ url_for('album', album_uuid=album[0]) }}">{{ album[1] }}</a></td>
                    <td>{{ album[2] }}</td>
                    <td>
                        {% if current_user.is_authenticated %}
                            {% if not album.reviewed %}
                                <button onclick="location.href='{{ url_for('review_form', album_uuid=album[0]) }}'">Add Review</button>
                            {% else %}
                                <button onclick="location.href='{{ url_for('review_form', album_uuid=album[0], edit=True) }}'">Edit Review</button>
                            {% endif %}
                            {% if current_user.role in ['cdnerd','staff', 'eboard'] %}
                                <button onclick="location.href='{{ url_for('manage_library', album_uuid=album[0]) }}'">Edit Entry</button>
                            {% endif %}
                            {% if current_user.role in ['staff', 'eboard'] %}
                                <button type="button" class="delete-button" data-album-uuid="{{ album[0] }}">Delete Entry</button>
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <script>
            $('table').on('click', '.delete-button', function(event) {
                event.preventDefault();
                if (confirm('Are you sure you want to delete this entry?')) {
                    const album_uuid = $(this).data('album-uuid');
                    if (album_uuid) {
                        window.location.href = `/delete_entry/${album_uuid}`;
                    } else {
                        alert('Album UUID not found.');
                    }
                }
            });
        </script>
        <div class="pagination">
            {% if pagination > 49 %}
                <a href="{{ url_for('home', pagination=pagination-50, album=request.args.get('album'), artist=request.args.get('artist'), genre=request.args.get('genre'), track=request.args.get('track')) }}">Previous</a>
            {% endif %}
        <!-- TODO: how is has_next determined? -->
            {% if has_next %}
                <a href="{{ url_for('home', pagination=pagination+50, album=request.args.get('album'), artist=request.args.get('artist'), genre=request.args.get('genre'), track=request.args.get('track')) }}">Next</a>
            {% endif %}
        </div>
    </main>
</body>
</html>